<h2 class="awesome">About Local Living</h2>
<div class="story">
<p>This webpage is for the devoted and experienced traveller.  Our mission is to provide top notch travel 
experiences to the worlds most beautiful places while making the traveller feel more at home than on a vaction.  With 
our services you will truly feel what its like to live in other parts of the world.
.</p>
</div>