<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travellr</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<h1 class="local"><img class="palm" src="https://previews.123rf.com/images/vectorplus/vectorplus1709/vectorplus170900246/86854998-palm-tree-vector-icon-black-illustration-isolated-on-white-background-for-graphic-and-web-design-.jpg" height="100px" width="100px">
Local Living<img class="palm" src="https://previews.123rf.com/images/vectorplus/vectorplus1709/vectorplus170900246/86854998-palm-tree-vector-icon-black-illustration-isolated-on-white-background-for-graphic-and-web-design-.jpg" height="100px" width="100px"></h1>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/about">ABOUT <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/locations">LOCATIONS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/excursions">ADVENTURES</a>
      </li>
    <%if session[:user_id]%>
     <li class="nav-item">
        <a class="nav-link" href="/myprofile">PROFILE</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">ADMIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/blog">BLOG</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users">USERS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account">SETTINGS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signout">LOG OFF</a>
        </li>
    <%else%>
        <li class="nav-item">
            <a class="nav-link" href="/signup">SIGN UP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signin">SIGN IN</a>
        </li>
    
    
    </ul>
  </div>
<% end %>
</nav>



<%=yield%>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>