<h2 class="awesome">Top Picks</h2>



<div class="place"> 
<ul class="locations">
<img src="https://www.livingtours.com/media/catalog/product/cache/2/image/830x545/17f82f742ffe127f42dca9de82fb58b1/b/a/barcelonapw_6.jpg" width="250px" height="250px">
<li>Barcelona, Spain</li> <br />
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQevpLWOm0uCq5Vh0eEcTewVUoLW2b5XRqOa9-wyI94OtsuRDA9" width="250px" height="250px">
<li>Paris, France</li> <br />
<img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1295,h_809,f_auto/w_80,x_15,y_15,g_south_west,l_klook_water/activities/n2t3cwgfhrnxlnd77rhb/HalongBayDayTour.jpg" width="250px" height="250px">
<li>Halong Bay, Hanoi, Vietnam</li> <br />
</ul>
</div>
<div class="place">
<ul class="locations">
<img src="http://static.asiawebdirect.com/m/phuket/portals/krabi-hotels-com/shared/teasersL/teaser_auto_gen/railay-west/teaserMultiLarge/imageHilight/teaser.jpeg.jpg" width="250px" height="250px">
<li>Railay Beach, Krabi,  Thailnd</li> <br />
<img src="http://static.asiawebdirect.com/m/bangkok/portals/chiangmai-bangkok-com/shared/teasersL/top10-attractions/teaserMultiLarge/imageHilight/top-ten_cm.jpg" width="250px" height="250px">
<li>Chiang Mai, Thailand</li> <br />
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Snowbird_Tram_at_Hidden_Peak.jpg/1200px-Snowbird_Tram_at_Hidden_Peak.jpg" width="250px" height="250px">
<li>Snowbird, Utah</li> <br />
</ul>
</div>
<div class="place">
<ul class="locations">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLygpUdx2yHPPYEv12Z6GatO2_mxX2GEbfM3ggoBfnPSe5LL1hew" width="250px" height="250px">
<li>Berlin, Germany</li> <br />
<img src="https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2017/06/22/104545734-Havana_Cuba.jpg?v=1510351375" width="250px" height="250px">
<li>Havana, Cuba</li> <br />
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwlNjf6vSe387-btTGBGOyyP5lt1VmVkAuRzSpEZK5VS-GVwvTJQ" width="250px" height="250px">
<li>Florence, Italy</li> <br />
</ul>
</div>
<div class="place">
<ul class="locations">
<img src="https://www.gannett-cdn.com/-mm-/1e4daaf8c2b761574381d6a91232cb5596b1a36b/c=235-0-2116-1414/local/-/media/2018/04/14/USATODAY/USATODAY/636592629961446461-GettyImages-181123720.jpg?width=520&height=390&fit=crop" width="250px" height="250px">
<li>Santorini, Greece</li> <br />
<img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Tel_Aviv_Coastline.jpg" width="250px" height="250px">
<li>Tel Aviv, Israel</li> <br />
<img src="http://static.asiawebdirect.com/m/bangkok/portals/cambodia/homepage/siem-reap/pagePropertiesImage/siem-reap.jpg.jpg" width="250px" height="250px">
<li>Siam Reap, Cambodia</li> <br />
</ul>
</div>
<div class="place">
<ul class="locations">
<img src="https://cdn.getyourguide.com/img/tour_img-551940-145.jpg" width="250px" height="250px">
<li>Rio de Janeiro, Brazil</li> <br />
<img src="http://www.godominicanrepublic.com/wp-content/uploads/2018/05/lgl01989-punta-cana.jpg" width="250px" height="250px">
<li>Punta Cana, Dominican Republic</li> <br />
<img src="https://i.pinimg.com/originals/aa/d5/83/aad5831660aeb4dd9b786dd81d83b20a.jpg" width="250px" height="250px">
<li>Whistler, Canada</li> <br />
</ul>
</div>
<div class="place">
<ul class="locations">
<img src="https://suvrettahouse.ch/wp-content/uploads/2016/10/Suvretta-House_Aussenansicht-Winter_6-2400x1600.jpg" width="250px" height="250px">
<li>St. Moritz, Switzerland</li> <br />
<img src="https://cdn.tuifly.be/img/static/im1000/01600/01600/01600U.JPG" width="250px" height="250px">
<li>Ibiza, Spain</li> <br />
<img src="http://static.asiawebdirect.com/m/bangkok/portals/cambodia/homepage/sihanoukville/top10/best-sihanoukville-nightlife/pagePropertiesImage/sihanoukville-nightlife.jpg.jpg" width="250px" height="250px">
<li>Sihanoukville, Cambodia</li> <br />
</ul>
</div>