
<div class="signin">
<form action="/signup" method="POST">
<input type="text" name="firstname" placeholder="first name">
<input type="text" name="lastname" placeholder="last name">
<input type="text" name="username" placeholder="choose username">
<input type="password" name="password" placeholder="password">
<input type="email" name="email" placeholder="enter email">
<input type="date" name="birthday" placeholder="enter birthday">
<input type="submit" value="Sign Up">
</form>
</div>