body{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Sun_corner.svg/2000px-Sun_corner.svg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slide{
  display: inline-block;
  height: 600px;
  width: 800px;
  opacity: .8;
  
}

.country{
  color: black;
  font-size: 4em;
  border: 2px solid black;
}

.local{
display: flex;
justify-content: center;
align-items: center;
font-size: 4em;
font-family: 'Charm', cursive;
margin: 5px;
padding: 5px;
}

.slogan{
  display: inline-block;
  
  align-items: center;
  font-size: 3em;
  font-family: 'Charm', cursive;
  margin: 10px;
  padding: 10px;

}
.palm{
  border-radius: 2em;
}



.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(65, 62, 62);
    
  }
  
  .list {
    float: left;
  }
  
  .list a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
  }
  
  .list a:hover {
    background-color: darkgray;
  }

.place{
  display: inline-block;
}

.photo{
  border: 2px solid lightgray;
  border-radius: 5%;
  align-content: center;
  
}

  .locations{
  display: inline-block;
}

.thrill {
  display: flex;
  justify-content: center;
 
}


.awesome {
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-family: 'Charm', cursive;
  margin: 10px;
  padding: 10px;
}

.story {
  display: flex;
  justify-content: center;
  font-family: 'Charm', cursive;
  font-size: 3em;
  margin: 15px;
}

.sport{
  display: flex;
  justify-content: center;
  font-family: 'Charm', cursive;
  font-size: 2.75em;
  list-style: none;
}

li{
    padding: 10px;
    margin: 10px;
    
}

.signin {
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  
}



input{
  height: 2em;
}

.learnmore {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-family: 'Charm', cursive;
}

.profile{
  background-color: lightgray;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  
}

.mypage {
  display: flex;
  justify-content: center;
  list-style: none;
}

.me{
  list-style: none;
}

.social{
  height: 800px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top:150px;
  
}

.userposts{
  margin:15px;
}

.searchusers{
  margin: 15px;
}

.emptyspace{
  height: 75px;
  width: 100%;
  background: lightgrey;
}

.delete{
  display: inline-block;
  justify-content: center;
  background-color: red;
  border: 2px solid yellow;
  padding: 10px;
  margin: 50px;
}

.postbox{
  display: inline-block;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  margin: 20px;
  width: 50%;
  list-style: none;
}

.postpic{
  border: 2px solid black;
  border-radius: 5%;
  margin-bottom: 10px;
}

.places li {
  display: inline-block;
  text-align: center;
}



@media(min-width: 600px){
  .photo{
   opacity: 0;
  }
  .slogan{
    align-items: center;
  }
}

@media(min-width: 900px){
  .photo{
   opacity: 1;
  }
  .slogan{
    align-items: center;
  }
}


